
body {
	-webkit-user-select: none;
	user-select: none;
	cursor: default;	
}

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 12pt;
	font-weight: 300;
	z-index: 0;
	-webkit-app-region: drag;
	border-bottom: solid 1px rgba(255,255,255,0.1);
}

header .controls {
	position: absolute;
	top: 0;
	display: inline-block;
	margin: 0 8px;
}

header .controls.left { left: 0; }
header .controls.right { right: 0; }

header .controls div {
	display: inline-block;
	margin: 0 4px;
	width: 24px;
	height: 24px;
	text-align: center;
	color: #aaa;
	font-size: 14pt;
	font-weight: 100;
	cursor: pointer;
	-webkit-transition: color 0.4s
}

header .controls div:hover {
	color: #fff;
}

header.small {
	height: 24px;
}
header.small .controls div {
	height: 16px;
	width: 16px;
}



#main-sidebar { background-color: rgba(0,0,0,0.9); }


.ui.container {
	position: absolute;
	top: 40px;
	left: 0;
	display: block;
	overflow: auto;
	margin: 0 !important;
	width: 100%;
	height: calc(100vh - 40px);
}